:host{
    text-align: center;
    display: block;
    .addPatientDiv{
        display: flex;
    justify-content: center;
    }
}
input{
    width: 200px;
height: 30px;
border: 1px solid #ccc;
border-radius: 6px;
margin:10px auto 20px;
}
table{
    border:none;
}